In [1]:
import numpy as np
import pandas as pd
import gc

##### Load dataframes for inspection

In [2]:
amaz_df = pd.read_csv("../data/amazon_prime_titles.csv")
disn_df = pd.read_csv("../data/disney_plus_titles.csv")
hulu_df = pd.read_csv("../data/hulu_titles.csv")
netf_df = pd.read_csv("../data/netflix_titles.csv")

display(amaz_df.head(3), disn_df.head(3), hulu_df.head(3), netf_df.head(3))

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

##### Put all dataframes in a single dataframe

In [3]:
# Put first letter of platform name at the beginning of each show_id
amaz_df["show_id"] = "a" + amaz_df["show_id"]
disn_df["show_id"] = "d" + disn_df["show_id"]
hulu_df["show_id"] = "h" + hulu_df["show_id"]
netf_df["show_id"] = "n" + netf_df["show_id"]

cleaned_datafs = pd.concat((amaz_df, disn_df, hulu_df, netf_df), ignore_index=True)
del amaz_df, disn_df, hulu_df, netf_df
gc.collect()

display(cleaned_datafs)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,as3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,as4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,as5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...
22993,ns8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
22994,ns8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
22995,ns8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
22996,ns8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
22997,ns8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

##### 1. Create id column simply renaming show_id column

In [4]:
cleaned_datafs.rename({"show_id": "id"}, axis=1, inplace=True)

##### 2. Fill NaN values in rating columns with "G" rating, for "General for All Audiences"

In [5]:
cleaned_datafs["rating"].fillna(value="G", inplace=True)

##### 3. Convert any dates to "YYYY-mm-dd" format

In [6]:
cleaned_datafs["date_added"] = pd.to_datetime(cleaned_datafs["date_added"])

##### 4. Turn all text fields to lowercase

In [7]:
cleaned_datafs = cleaned_datafs.applymap(lambda s: s.lower() if isinstance(s, str) else s)

##### 5. duration columns should be turned to 2 separate columns: duration_int & duration_type. The first must be of type int and be equal to the numeric part of the previous duration column, while the second must be a string equal to the non-numeric part of the duration column, indicating min or seasons, respectively

In [8]:
cleaned_datafs[["duration_int", "duration_type"]] = cleaned_datafs["duration"].str.split(" ", expand=True)
cleaned_datafs["duration_int"] = cleaned_datafs["duration_int"].astype(pd.Int16Dtype())
cleaned_datafs.drop(["duration"], axis=1, inplace=True)

In [9]:
# Figure out platform based on substring in id
def check_platform(id_string: str) -> str | float:
    if id_string.startswith("a"):
        return "amazon"
    elif id_string.startswith("d"):
        return "disney"
    elif id_string.startswith("h"):
        return "hulu"
    elif id_string.startswith("n"):
        return "netflix"
    else:
        return np.NaN

if "platform" in cleaned_datafs.columns:
    cleaned_datafs.drop(["platform"], axis=1, inplace=True) # Drop column if already exists

cleaned_datafs.insert(loc=1, column="platform", value=cleaned_datafs["id"].map(check_platform))
# cleaned_datafs.to_csv("../data/cleaned_dbs.csv", index=False)
display(cleaned_datafs.head(), cleaned_datafs.shape)

,id,platform,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,as1,amazon,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min
1,as2,amazon,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min
2,as3,amazon,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min
3,as4,amazon,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69,min
4,as5,amazon,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min

(22998, 14)

##### Create platform column for rating csv files. First, join all files into 1 single dataframe

In [10]:
from pathlib import Path

# Create a glob string representing all csv files inside "ratings" directory
globbed_path = Path("../data/ratings/").glob("*.csv")

# Join all files into a single pandas DataFrame object
ratings_df = pd.concat(map(pd.read_csv, globbed_path), ignore_index=True)

# Finally, we create the platform column based on movieId
if "platform" in ratings_df.columns:
    ratings_df.drop("platform", axis=1, inplace=True) # Drop platform column if already exists
ratings_df.insert(loc=len(ratings_df.columns), column="platform", value=ratings_df["movieId"].map(check_platform))
display(ratings_df.head(), ratings_df.shape)

   userId  rating   timestamp movieId platform
0       1     1.0  1425941529   as680   amazon
1       1     4.5  1425942435  ns2186  netflix
2       1     5.0  1425941523  hs2381     hulu
3       1     5.0  1425941546  ns3663  netflix
4       1     5.0  1425941556  as9500   amazon

(11024289, 5)

##### Getting the average rating of movies based on movieId column

In [11]:
mean_score = ratings_df.groupby("movieId")["rating"].mean().round(1)
processed_ratings = ratings_df.join(mean_score, on="movieId", rsuffix="_avg")
processed_ratings = processed_ratings.drop_duplicates(subset="movieId", keep="first")

del globbed_path, mean_score, ratings_df
gc.collect()

processed_ratings.rename(
    columns={
        "rating": "score",
        "rating_avg": "score_avg"
    },
    inplace=True
)
processed_ratings.to_csv("../data/processed_ratings.csv", index=False)
display(processed_ratings.head(), processed_ratings.shape)

   userId  score   timestamp movieId platform  score_avg
0       1    1.0  1425941529   as680   amazon        3.5
1       1    4.5  1425942435  ns2186  netflix        3.6
2       1    5.0  1425941523  hs2381     hulu        3.6
3       1    5.0  1425941546  ns3663  netflix        3.5
4       1    5.0  1425941556  as9500   amazon        3.5

(22998, 6)

##### Merge both cleaned_datafs and processed_ratings DataFrame objects into a single csv file

In [12]:
processed_ratings.drop(["platform", "score", "userId", "timestamp"], axis=1, inplace=True)

complete_db = cleaned_datafs.merge(
    processed_ratings,
    how="inner",
    left_on="id",
    right_on="movieId",
    suffixes=(None, "_y"),
    validate="1:1"
)

if "movieId" in complete_db.columns:
    complete_db.drop(["movieId"], axis=1, inplace=True)

complete_db.to_csv("../data/movies_db.csv", index=False)
display(complete_db.info(), complete_db.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 22997
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   platform       22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int64
 9   rating         22998 non-null  object
 10  listed_in      22998 non-null  object
 11  description    22994 non-null  object
 12  duration_int   22516 non-null  Int16
 13  duration_type  22516 non-null  object
 14  score_avg      22998 non-null  float64
dtypes: Int16(1), datetime64[ns](1), float64(1), int64(1), object(11)
memory usage: 2.7+ MB

None

,id,platform,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type,score_avg
0,as1,amazon,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,3.5
1,as2,amazon,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min,3.5
2,as3,amazon,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min,3.5
3,as4,amazon,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69,min,3.5
4,as5,amazon,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min,3.5